html,body {
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.2px;
  word-spacing: -1px;
  font-family: lato, Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  padding: 1em;
  margin: 0px auto;
  /* border-bottom: 1px solid #d8d8d8; */
}
header {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 5px 0 rgb(0 0 0 / 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
}
.website-logo img {
  width: 12rem;
  aspect-ratio: 16 / 3;
}
nav {
  margin: 0rem;
  padding: 0rem;
}
nav ul {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  list-style-type: none;
}

nav ul li a {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
nav ul li a:hover {
  margin: 0rem;
  padding: 0rem;
  text-decoration: underline;
  color: rgba(255, 0, 0, 1);
}
#navPhoneMenu {
  display: none;
}
.navLogo img {
  margin: 5px;
}
.navLinks ul {
  margin: 8px 0px 0px 0px;
  padding: 0px;
}
.navLinks ul li {
  display: inline-block;
  padding: 0.5em;
}
.navLinks ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: bold;
  transition: 0.1s ease-in-out;
}
.navLinks ul li a:hover {
  color: #EB223E;
  text-decoration: underline;
}
/* end of header naviagtion style */

@media screen and (max-width: 900px) {
  .nav {
    display: block;
    line-height: 35px;
  }
  #navPhoneMenu {
    display: inline-block;
    font-size: 25px;
    float: left;
    margin: 15px;
    padding: 0px;
  }
  
  .navPhoneMenu p:hover {
    cursor: pointer;
  }
  .navLogo {
    margin: 9px 0px 0px 0px;
  }
  #navLinks {
    display: none;
  }
  .navLinks ul li {
    display: block;
    border-bottom: 1px solid #d8d8d8; 
  }
}



